<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add New Message</title>
  </head>
  <body>
    <div class="form-content">
      <form action="/new" method="post">
        <div class="title">Add New Message</div>
        <div class="input-element">
          <input
            type="text"
            name="name"
            id=""
            placeholder="enter the user"
            class="i-e"
          />
          <br />
        </div>
        <div class="input-element">
          <input
            type="text"
            name="message"
            id=""
            placeholder="enter the message"
            class="i-e"
          /><br />
        </div>

        <input type="submit" value="Add Message" class="button" />
      </form>
    </div>
  </body>
</html>
